In [14]:
import pandas as pd
import spacy
from spacy.displacy.render import EntityRenderer
from IPython.core.display import display, HTML
import re
import matplotlib.pyplot as plt

import numpy as np
import pandas as pd
import matplotlib

import matplotlib.pyplot as plt
from nltk.stem import PorterStemmer, WordNetLemmatizer
import seaborn as sns
import matplotlib.cm as cm
import itertools

import re
import string
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import stopwords
import matplotlib
import matplotlib.pyplot as plt

from sklearn.feature_extraction.text import TfidfVectorizer

from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB

from wordcloud import WordCloud

from sklearn.metrics import accuracy_score, f1_score, recall_score
from sklearn.metrics import confusion_matrix
from statistics import mean
from sklearn.model_selection import GridSearchCV

import statistics

from wordcloud import WordCloud
from collections import Counter
from sklearn import metrics

from sklearn.metrics import classification_report

In [15]:
nlp = spacy.load('en_core_web_lg')

In [16]:
df=pd.read_csv("dataset.csv")
#df = df.iloc[1:]
df

,item_type,item_urn,content,instrument_name,instrument_urn
0,conditional,urn:ddi:uk.lha:bc358498-7085-4422-9f3f-348fcbc...,and then go straight on to Question 8]qc_1_i =...,1962 Personal Questionnaire,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...
1,conditional,urn:ddi:uk.lha:b7ec8f60-a0b7-4dbb-b589-6d8f279...,"[If ""YES""]qc_21_a == 1",1962 Personal Questionnaire,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...
2,codelist,urn:ddi:uk.lha:bdb9ae15-1848-41d7-8ed9-d15f167...,"1, a club at work",1962 Personal Questionnaire,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...
3,codelist,urn:ddi:uk.lha:5fc4c7c5-2713-4d76-80dd-bb63b47...,"2, an outside sports club",1962 Personal Questionnaire,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...
4,codelist,urn:ddi:uk.lha:45b413ec-f456-45e7-a93a-d849a8f...,"3, you and your friends",1962 Personal Questionnaire,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...
...,...,...,...,...,...
187547,statement,urn:ddi:uk.lha:7817cb4c-99da-4676-a6bb-a762527...,(N.B. By friends we mean people who you meet o...,1964 University Questionnaire,urn:ddi:uk.lha:ec6e7d6d-a776-4520-9e57-57bc8f2...
187548,instruction,urn:ddi:uk.lha:ba7dfd64-72ff-4988-bb02-ad3732b...,Please tick the appropriate column.,1964 University Questionnaire,urn:ddi:uk.lha:ec6e7d6d-a776-4520-9e57-57bc8f2...
187549,instruction,urn:ddi:uk.lha:c93e8e55-26d3-474f-af09-df0de9e...,(PLEASE TICK THE APPROPRIATE COLUMN),1964 University Questionnaire,urn:ddi:uk.lha:ec6e7d6d-a776-4520-9e57-57bc8f2...
187550,instruction,urn:ddi:uk.lha:ebf4e882-9fac-4a72-9080-a393c79...,(Circle more than one number if necessary),1964 University Questionnaire,urn:ddi:uk.lha:ec6e7d6d-a776-4520-9e57-57bc8f2...
187551,instruction,urn:ddi:uk.lha:ff7a6892-04af-4c41-895b-14eb6eb...,(If necessary circle more than one number),1964 University Questionnaire,urn:ddi:uk.lha:ec6e7d6d-a776-4520-9e57-57bc8f2...

In [17]:
lower = lambda x: x.lower() # make everything lowercase

df=df.dropna()
df=df.reset_index(drop=True)

In [18]:
df1=(df[df['item_type']=='question'])
df1 = df1.reset_index(drop=True)
df1

,item_type,item_urn,content,instrument_name,instrument_urn
0,question,urn:ddi:uk.lha:d888e0ca-ebcf-47ad-ae37-1c951b3...,What pay or salary do you expect to be getting...,1962 Personal Questionnaire,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...
1,question,urn:ddi:uk.lha:8b655a25-58d6-4af9-bb53-1dc815b...,Ref. No.,1962 Personal Questionnaire,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...
2,question,urn:ddi:uk.lha:7faf3fd4-a8f7-4766-87e4-2a39a60...,What clubs do you belong to? How often do you ...,1962 Personal Questionnaire,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...
3,question,urn:ddi:uk.lha:c7a87094-dc16-4596-a367-318a429...,What are the main things you do in your spare ...,1962 Personal Questionnaire,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...
4,question,urn:ddi:uk.lha:cba9bbbd-c1ac-4e54-93ed-3c74fa9...,What will you have to do to get that job? What...,1962 Personal Questionnaire,urn:ddi:uk.lha:7b964926-77df-4fc7-8a7f-3c64fbd...
...,...,...,...,...,...
40541,question,urn:ddi:uk.lha:c6960108-d630-4f37-be5a-d84bcc0...,Why do you want it?,1964 University Questionnaire,urn:ddi:uk.lha:ec6e7d6d-a776-4520-9e57-57bc8f2...
40542,question,urn:ddi:uk.lha:98d7c7f5-171f-47d6-bb44-e59a1d7...,Have you ever had a squint?,1964 University Questionnaire,urn:ddi:uk.lha:ec6e7d6d-a776-4520-9e57-57bc8f2...
40543,question,urn:ddi:uk.lha:3506c2ad-073d-4117-8f6e-24fea22...,Have you been to see them?,1964 University Questionnaire,urn:ddi:uk.lha:ec6e7d6d-a776-4520-9e57-57bc8f2...
40544,question,urn:ddi:uk.lha:e420ab0e-329e-4ef1-8e1d-2964193...,How many times?,1964 University Questionnaire,urn:ddi:uk.lha:ec6e7d6d-a776-4520-9e57-57bc8f2...
40545,question,urn:ddi:uk.lha:0f7d3d67-6e8b-4673-845a-b3e813f...,What have you been about?,1964 University Questionnaire,urn:ddi:uk.lha:ec6e7d6d-a776-4520-9e57-57bc8f2...

In [19]:
df1['content']=df1['content'].apply(str)

In [20]:
df1['content']

0        What pay or salary do you expect to be getting...
1                                                 Ref. No.
2        What clubs do you belong to? How often do you ...
3        What are the main things you do in your spare ...
4        What will you have to do to get that job? What...
                               ...
40541                                  Why do you want it?
40542                          Have you ever had a squint?
40543                           Have you been to see them?
40544                                      How many times?
40545                            What have you been about?
Name: content, Length: 40546, dtype: object

In [21]:
df1.reset_index(drop=True, inplace=True)
df1 = pd.DataFrame(df1['content'].apply(lower))
df1.columns = ['text']
display(df1)

                                                    text
0      what pay or salary do you expect to be getting...
1                                               ref. no.
2      what clubs do you belong to? how often do you ...
3      what are the main things you do in your spare ...
4      what will you have to do to get that job? what...
...                                                  ...
40541                                why do you want it?
40542                        have you ever had a squint?
40543                         have you been to see them?
40544                                    how many times?
40545                          what have you been about?

[40546 rows x 1 columns]

In [22]:
def extract_named_ents(text):

    return [(ent.text, ent.start_char, ent.end_char, ent.label_) for ent in nlp(text).ents]

def add_named_ents(df):

    df1['named_ents'] = df1['text'].apply(extract_named_ents)

In [23]:
add_named_ents(df1)
display(df1)

,text,named_ents
0,what pay or salary do you expect to be getting...,[]
1,ref. no.,[]
2,what clubs do you belong to? how often do you ...,[]
3,what are the main things you do in your spare ...,[]
4,what will you have to do to get that job? what...,"[(first, 72, 77, ORDINAL)]"
...,...,...
40541,why do you want it?,[]
40542,have you ever had a squint?,[]
40543,have you been to see them?,[]
40544,how many times?,[]
40545,what have you been about?,[]

In [25]:
import pandas as pd
df = pd.DataFrame(df1, columns= ['text', 'named_ents'])
df.to_csv (r'F:\Question_entities.csv', index = False, header=True)
print (df)

                                                    text  \
0      what pay or salary do you expect to be getting...
1                                               ref. no.
2      what clubs do you belong to? how often do you ...
3      what are the main things you do in your spare ...
4      what will you have to do to get that job? what...
...                                                  ...
40541                                why do you want it?
40542                        have you ever had a squint?
40543                         have you been to see them?
40544                                    how many times?
40545                          what have you been about?

                       named_ents
0                              []
1                              []
2                              []
3                              []
4      [(first, 72, 77, ORDINAL)]
...                           ...
40541                          []
40542                          []
40543                          []
40544                          []
40545                          []

[40546 rows x 2 columns]